# {{ ansible_managed }}
description "private bower"
  # author "alban.andrieu@free.fr"

  start on started mountall
  stop on shutdown

  respawn
  respawn limit 99 5

  # kill timeout 20

  limit nofile 32768 32768

  script
    chdir {{ private_bower_base_dir }}
    exec sudo -u {{ private_bower_user }} {{ private_bower_startup_opt }} {{ private_bower_bin }} --config {{ private_bower_conf }} {{ private_bower_output }}
end script
